body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.formgrid {
  border: 5px solid black;
  padding: 50px;
  margin-top: 50px;
}

h1 {
  font-size: 2em;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
}

#closeBtn {
  background-color: #ff5733;
  color: #fff;
  border: none;
  cursor: pointer;

  margin-top: 50px;
}

input,
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

#registerBTN,
#loginBTN {
  display: none; /* Initially hiding the buttons */
}

#changeToRegister,
#changeToLogin {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

p {
  margin-top: 50px;
  word-wrap: break-word;
}

.topBar {
  width: 100%;
  height: 75px;

  position: absolute;

  left: 0;
  top: 0;

  background-color: rgb(173, 173, 173);

  display: flex;

  flex-direction: row;

  align-items: center;
}

.topBarBtns {
  width: 50px;
  height: 50px;

  margin-left: 25px;
  margin-right: 25px;
}

.panels {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;

  width: 50%;
  height: 50%;

  border: 5px solid black;
}

#userNameInput {
  width: 75%;
  padding: 8px;
  margin-bottom: 8px;
}
#biographyInput {
  width: 75%;
  height: 25%;
  padding: 8px;
  margin-bottom: 8px;
}

#firstnameInput,
#secondnameInput {
  width: 22%;
  padding: 8px;
  margin-bottom: 8px;
}

#profileBack,
#saveProfileBtn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
  width: 75%;
}

#saveProfileBtn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#LiveChatHolder {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 65%;
  border: 5px solid black;

  display: flex;
  align-items: center;
  justify-content: start;

  flex-direction: row;

  overflow: auto;
}

#LiveChatMessagesLeft,
#LiveChatMessagesRight {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  height: 100%;
}

#LiveChatMessagesLeft p,
#LiveChatMessagesRight p {
  position: relative;

  max-width: 90%;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

#LiveChatMessagesRight p {
  align-self: flex-end;
  text-align: right;
}

#LiveChatMessagesLeft p {
  align-self: flex-start;
  text-align: left;
}

.myText,
.othersText {
  border: 3px solid black;
  border-radius: 20px;

  margin: 15px;
  padding: 10px;

  background-color: cyan;
}

.timestampright,
.timestampleft {
  font-size: 12px;
  position: absolute;
  bottom: 0;

  margin-top: 5px;
  margin-bottom: 5px;
}

.timestampright {
  right: 0;
}

.timestampleft {
  left: 0;
}

#textInputPanel {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 25%;
  border: 5px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

#textInputPanel button,
#textInputPanel input {
  width: 90%;
  height: 10%;
}
